.btn {
  font-size:1.0em;
  margin-right:3.8em;
  float:right;
  outline: none;
  border:0px; 
}

i {
   font-size:4.8em;
   margin-left: 1.0em;
   margin-top:-10px;
}

i:hover {
  opacity: 0.9;
  cursor:pointer;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotediv {
  border-radius:5px;
  margin-top:100px;
  margin-bottom:100px;
  width: 45em;
  height: 25em;
  background-color:white;
}

blockquote {
  margin-top:40px;
  font-size:2em;
}

blockquote footer {
  text-align: right;
}