.btn {
  margin-right:3.5em;
  margin-top:260px;
  float:right;
  outline: none;
  border:0px; 
}

i{
   font-size:5.0em;
   margin-left: 1.0em;
   margin-top: 250px;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotediv {
  border-radius:5px;
  margin-top:100px;
  margin-bottom:50px;
  width: 600px;
  height: 350px;
  background-color:white;
}