@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Gloria+Hallelujah');

* {
  font-family: 'Gloria Hallelujah';
}

.btn {
  font-size:1.0em;
  margin-right:3.8em;
  float:right;
  outline: none;
  border:0px; 
}

i {
   font-size:4.7em;
   margin-left: 1.0em;
   margin-top:-10px;
   margin-bottom:20px;
}

i:hover {
  opacity: 0.9;
  cursor:pointer;
}

.btn:hover {
  opacity: 0.9;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quotediv {
  border-radius:5px;
  margin-top:100px;
  margin-bottom:100px;
  width: 45em;
  min-height: 15em;
  background-color:white;
}

blockquote {
  margin-top:40px;
  font-size:2em;
}

blockquote footer {
  text-align: right;
}

.footer {
  width:450px;
  text-align:center;
  margin:-80px auto 0px auto;
  font-size:1.0em;
  color:white;
}

.footer a {
  color:white;
}

.footer a:hover{
  color:black;
  text-decoration:none;
}